<app-indexheader></app-indexheader>
<!-- <app-header></app-header> -->
<div class="container section my-5">
  <div class="card rounded">
    <div class="card-header text-center">
      <h3 class='mb-0'>Register to WeeClo</h3>
    </div>
    <form #regForm='ngForm' (ngSubmit)='registerSubmit()' novalidate>
      <div class="card-body">
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" class="form-control" type="text" name="email"
              #email='ngModel' [(ngModel)]="userModel.email"
              [class.is-invalid]='email.invalid && email.touched' required>
              <small [class.d-none]='email.valid || email.untouched'
                class="text-danger">Email is invalid</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
            <input id="password" class="form-control" type="text" name="password"
              #password='ngModel' [(ngModel)]="userModel.password"
              [class.is-invalid]='password.invalid && password.touched' required>
              <small [class.d-none]='password.valid || password.untouched'
                class="text-danger">Password is invalid</small>
        </div>
        <button type="submit" class="btn btn-success"
            [disabled]='regForm.form.invalid' name="button">Register</button>

      </div>
      <div class="card-footer">
        <a routerLink='/login' class="nav-link ">Already have an account?</a>

      </div>
    </form>
  </div>
  <!-- <h1 class="text-center">Register</h1>
  <form [formGroup]='registerForm' (ngSubmit)='submitRegister(registerForm.value)'>
    <div class="form-group">

    </div>
    <div class="form-group">

    </div>
    </form>
    <a routerLink='/login' class="nav-link">Already have an account? </a> -->

</div>





<!-- <fieldset>
  <legend class="text-center">
    <h3>Tell us about you!</h3>
    <p>Please fill this out to get to know you better.</p>
  </legend> -->
  <!-- <div class="form-group">
    <label for="firstname">First Name</label>
    <input class="form-control" formControlName='fname'
      type="text" name="fname" value="" placeholder="(ex. John)">
  </div>
  <div class="form-group">
    <label for="lastname">Last Name</label>
    <input class="form-control" formControlName='lname'
      type="text" name="lname" value="" placeholder="(ex. Doe)">
  </div> -->
  <!-- <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" formControlName='email'
      type="email" name="email" value="" placeholder="(ex. someone@example.com)">
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input class="form-control" formControlName='address'
      type="text" name="address" value="" placeholder="(ex. 123 Apple Street NW) ">
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input class="form-control" formControlName='city'
      type="text" name="city" value="" placeholder="(ex. Atlanta)">
  </div>
  <div class="form-group">
    <label for="state">State</label>
    <input class="form-control" formControlName='state'
      type="text" name="state" value="" placeholder="(ex. GA)">
  </div>
  <div class="form-group">
    <label for="zip">ZipCode</label>
    <input class="form-control" formControlName='zip'
      type="text" name="zip" value="" placeholder="(ex. 12345)">
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input class="form-control" formControlName='username'
    type="text" name="username" value="" placeholder="(ex. me123)">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input class="form-control" formControlName='password'
    type="text" name="password" value="" placeholder="(ex. *******)">
  </div>
  <div class="form-group">
    <label for="password2">Repeat Password</label>
    <input class="form-control" formControlName='password2'
    type="text" name="password2" value="" placeholder="(ex. *******)">
  </div> -->
  <!-- <button class="btn btn-success" type="submit" name="button">Register</button>

</fieldset> -->
