<!--
  This is the basic template for the footer that will be shown on every page
-->

<footer class="footer bg-dark text-white p-3">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-4 order-last order-md-first text-md-left" >
        <p>Copyrighted &copy; - 2018 | <a href="#">WeeClo.com</a></p>

      </div>
      <div class="col-md-8 text-center text-md-right">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <a href="#">Contact Us</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Feedback</a>
          </li>
          <li class="list-inline-item">
            <a href="#">About Us
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">Investor Relations</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms of Services
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
